<!DOCTYPE html>
{% extends "layout.html" %}

{% block meta %}
    <title>Login</title>
{% endblock %}

{% block content %}

    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom border-primary text-dark">
            <span class="fs-4">Club Member Login</span>
        </header>
    </div>

    <div class="container py-4 text-light bg-primary rounded-3">

        <div class="container py-4 bg-secondary rounded-3">
            <div class="p-5 mb-4 bg-light text-dark rounded-3">
                <form method="POST" ID="login" action={{url_for('crud.crud_login')}}>
                    <table>
                        <tr><th><label for="email">Email</label></th></tr>
                        <tr><td><input class="form-control"  type="email" id='email' name="email" size="20" required></td></tr>
                        <tr><th><label for="password">Password</label></th></tr>
                        <tr><td><input class="form-control" type="password" id="password" name="password" size="20" required></td></tr>
                        <tr><th><input class="btn btn-secondary" type="submit" value="Login"></th></tr>
                        <tr><td>Need an account? <a href={{url_for('crud.crud_authorize')}}>Sign up here!</a></td></tr>
                    </table>
                </form>
            </div>
        </div>

    </div>


{% endblock %}