{% extends "layout.html" %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
</style>
{% endblock %}

{% block content %}
<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%2333ffa0&ctz=America%2FLos_Angeles&src=YzNibG85MHUxbTFlc2N1YjA3NnFrMGFtam9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23A79B8E" style="display:block; margin:0 auto; width:50%; height:600px; frameborder:10%; scrolling: no"></iframe>

<!-- API Key: AIzaSyCtgS-FuV-qUTOhwUwKfaD7oLW-PyYR0iU -->
<script src="https://apis.google.com/js/api.js"></script>
<script>
    function buttonPress(){
        let year = document.getElementById('year').value
        let month = document.getElementById('month').value
        let day = document.getElementById('day').value
        let hour = document.getElementById('hour').value
        let minute = document.getElementById('minute').value
        let second = document.getElementById('second').value
        return String(year.concat(month).concat(day)) + "T" + String(hour.concat(minute).concat(second))
    }

    // Refer to the JavaScript quickstart on how to setup the environment:
    // https://developers.google.com/calendar/quickstart/js
    // Change the scope to 'https://www.googleapis.com/auth/calendar' and delete any
    // stored credentials.


    /**
     * Sample JavaScript code for calendar.events.insert
     * See instructions for running APIs Explorer code samples locally:
     * https://developers.google.com/explorer-help/code-samples#javascript
     */

    function authenticate() {
        return gapi.auth2.getAuthInstance()
            .signIn({scope: "https://www.googleapis.com/auth/calendar https://www.googleapis.com/auth/calendar.events"})
            .then(function () {
                    console.log("Sign-in successful");
                },
                function (err) {
                    console.error("Error signing in", err);
                });
    }

    function loadClient() {
        gapi.client.setApiKey("AIzaSyCtgS-FuV-qUTOhwUwKfaD7oLW-PyYR0iU");
        return gapi.client.load("https://content.googleapis.com/discovery/v1/apis/calendar/v3/rest")
            .then(function () {
                    console.log("GAPI client loaded for API");
                },
                function (err) {
                    console.error("Error loading GAPI client for API", err);
                });
    }

    // Make sure the client is loaded and sign-in is complete before calling this method.
    function execute() {
        return gapi.client.calendar.events.insert({
            "resource": {
                "end": {},
                "start": {}
            }
        })
            .then(function (response) {
                    // Handle the results here (response.result has the parsed body).
                    console.log("Response", response);
                },
                function (err) {
                    console.error("Execute error", err);
                });
    }

    gapi.load("client:auth2", function () {
        gapi.auth2.init({client_id: "893453603783-bpsno84rauqug3u8tsdsq14f85amng83.apps.googleusercontent.com"});
    });
</script>
<button onClick="authenticate().then(loadClient)">authorize and load</button>
<button onClick="execute()">execute</button>



<script>
    /*
var event = {
        'summary': 'Google I/O 2015',
        'location': '800 Howard St., San Francisco, CA 94103',
        'description': 'A chance to hear more about Google\'s developer products.',
        'start': {
            'dateTime': '2015-05-28T09:00:00-07:00',
            'timeZone': 'America/Los_Angeles'
        },
        'end': {
            'dateTime': '2015-05-28T17:00:00-07:00', /* 'dateTime': '2015-05-28T17:00:00-07:00',*/
    /*
            'timeZone': 'America/Los_Angeles'
        },
        'recurrence': [
            'RRULE:FREQ=DAILY;COUNT=2'
        ],
        /*
        'attendees': [
            {'email': 'lpage@example.com'},
            {'email': 'sbrin@example.com'}
        ],
        */
    /*
       'reminders': {
           'useDefault': false,
           'overrides': [
               {'method': 'email', 'minutes': 24 * 60},
               {'method': 'popup', 'minutes': 10}
           ]
       }
   };
   var request = gapi.client.calendar.events.insert({
       'calendarId': 'primary',
       'resource': event
   });
   request.execute(function(event) {
       appendPre('Event created: ' + event.htmlLink);
   });
function addEvent(){
}
function editEvent() {
}
function deleteEvent() {
}
*/

</script>

<input id="eventName" style="width: 100px; height: auto" name="name of event">
<input id="eventDesc" style="width: 500px; height: 350px" name="description of event">
<input id="eventLocation" style="width: 500px; height: auto" name="location of event">

<input id="year" style="width: 100px; height: auto" name="year">
<input id="month" style="width: 500px; height: 350px" name="month">
<input id="day" style="width: 500px; height: auto" name="day">
<input id="hour" style="width: 100px; height: auto" name="hour">
<input id="minute" style="width: 500px; height: 350px" name="minute">
<input id="second" style="width: 500px; height: auto" name="second">

<button id="addEventButton" style="width: 75px; height: 30px" onclick="addEvent"> Create Event </button>
<button id="editEventButton" style="width: 75px; height: 30px" onclick="editEvent"> Edit Event </button>
<button id="deleteEventButton" style="width: 75px; height: 30px" onclick="deleteEvent"> Delete Event </button>
<button onclick="buttonPress()" style="width: 75px; height: 30px"> set time and date </button>
{% endblock %}