<!DOCTYPE html>
{% extends "layout.html" %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}

{% block content %}
    <div class="w3-content w3-display-container">
        <!-- w3-animate-fading class allows image to fade in-->
       <center><img alt="Mitochondria" class="BioObj w3-animate-fading" src="/static/assets/mitochondria.png" style="height: 300px"></center> 
      <center><img alt="Microscope" class="BioObj w3-animate-fading" src="/static/assets/microscope.png" style="height: 300px"></center>
      <center><img alt="DNA" class="BioObj w3-animate-fading" src="/static/assets/dna.png" style="height: 300px"></center>
       <center><img alt="Virus" class="BioObj w3-animate-fading" src="/static/assets/virus.png" style="height: 300px"></center>
        <!-- clicking right or left button will call plusDivs function-->
        <center><button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <!-- &#10094 and &#10095 are left and right-->
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
        </center>
    </div>

    <script>
        // first image has index of 1
        let slideIndex = 1;
        // display image of specified index
        showDivs(slideIndex);

        // plusDivs will change slideIndex by -1 or 1 depending on which button was pressed
        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            // all images are set equal to x
            let x = document.getElementsByClassName("BioObj");
            if (n > x.length) {slideIndex = 1}
            if (n < 1) {slideIndex = x.length}

            let i;
            // all images not displayed
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            // image of given index will be displayed
            x[slideIndex-1].style.display = "block";
        }
    </script>
{% endblock %}