<!DOCTYPE html>
{% extends "layout.html" %}

{% block meta %}
    <title>Practice Quiz</title>
{% endblock %}

{% block content %}
<h2>Practice for an Upcoming Quiz</h2>
    <style>
        h2 {
            text-align: center;
        }
    </style>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content=
                "width=device-width, initial-scale=1.0">
        <title>Dark Mode</title>

        <style>
            button{
                cursor: pointer;
                border: 1px solid #555;
                text-align: center;
                padding: 5px;
                margin-left: 8px;
            }
            .dark{
                background-color: #222;
                color: #e6e6e6;
            }
        </style>
    </head>
    <button onclick="myFunction()">Switch mode</button>

    <script>
        function myFunction() {
            var element = document.body;
            element.classList.toggle("dark");
        }
    </script>

<button onClick="window.location.reload();">Refresh</button>
<p id="demo"></p>
<script>
    function rand_quest(items)
    {

        return items[Math.floor(Math.random()*items.length)];

    }
    var questions = [
        "What is bioinformatics?",
        "How do you make a PPI plot on STRINGDB?",
        "What is the central dogma?",
        "Describe the steps from DNA to a protein.",
        "What is the UCSC Genome Browser?",
        "How are KEGG Pathways used in research?",
        "Why are genes important in research?",
    ];
    document.getElementById("demo").innerHTML = rand_quest(questions)
</script>
</body>
</html>
{% endblock %}

