<!DOCTYPE html>
{% extends "layout.html" %}

{% block meta %}
    <title>Weekly Slides</title>
{% endblock %}
{% block content %}
    <h1>Weekly Slides</h1>
    <div align="center"><iframe src="https://docs.google.com/presentation/d/e/2PACX-1vT1Z9ZRkjlQ8Jptp-89e2J3IpWzUVsSIrRqCmxbghLdQu5h6NJe3sVBIHWsas-wuNUymIV1NevEuGsI/embed?start=false&loop=false&delayms=3000" frameborder="0" width="760" height="369" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        <div align="center"><iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQ7wTNJ0qGlbYV8E_pQsuMWDrjodDd8hhyfeMR6IS9F3q0mqROjBIabMn9Ky5vv1yS1KxfFGLa9K4mN/embed?start=false&loop=false&delayms=3000" frameborder="0" width="760" height="369" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            <div align="center"><iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRN6SLd7A9qH5JRPFNEqrl7ZWzkCz7C8ym93HLfYHkfe17ktyQiBIQ96WKGPTs5YFN7SShlnch6ABnF/embed?start=false&loop=false&delayms=3000" frameborder="0" width="760" height="369" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                <div align="center"><iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTqvokJUBc711tNk-iyMgDsL6BaiVdFhdkJ4AHQ7YMMYfdBfJivx6nV4u4PpHFzOLrvzH-2_N_BQTa9/embed?start=false&loop=false&delayms=3000" frameborder="0" width="760" height="369" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                    <div align="center"><iframe src="https://docs.google.com/presentation/d/e/2PACX-1vScJMHuyXNWNeheSZCLLWTJD6790CQ43IR5u1g_6at6eISkzT_ZGkeu1BASl_M4BoPJx6JALdYT0uwD/embed?start=false&loop=false&delayms=3000" frameborder="0" width="760" height="369" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                        <style>
                            h1 {
                                text-align: center;
                            }
                        </style>
{% endblock %}