{% extends "layout.html" %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
</style>
{% endblock %}

{% block content %}
<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%2333ffa0&ctz=America%2FLos_Angeles&src=YzNibG85MHUxbTFlc2N1YjA3NnFrMGFtam9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23A79B8E" style="display:block; margin:0 auto; width:50%; height:600px; frameborder:10%; scrolling: no"></iframe>

<p>Google Calendar API Quickstart</p>

<!--Add buttons to initiate auth sequence and sign out-->
<button id="authorize_button" style="height: 0; width: 0" onclick="handleAuthClick()"> Load Events </button>

<button id="signout_button" onclick="handleSignoutClick()">Sign Out</button>

<pre id="content" style="white-space: pre-wrap;"></pre>

<script type="text/javascript">
    /* exported gapiLoaded */
    /* exported gisLoaded */
    /* exported handleAuthClick */
    /* exported handleSignoutClick */

    const CLIENT_ID = '893453603783-bpsno84rauqug3u8tsdsq14f85amng83.apps.googleusercontent.com';
    const API_KEY = 'AIzaSyCtgS-FuV-qUTOhwUwKfaD7oLW-PyYR0iU';

    // Discovery doc URL for APIs used by the quickstart
    const DISCOVERY_DOC = 'https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest';

    // Authorization scopes required by the API; multiple scopes can be
    // included, separated by spaces.
    const SCOPES = 'https://www.googleapis.com/auth/calendar';

    let tokenClient;
    let gapiInited = false;
    let gisInited = false;

    document.getElementById('authorize_button').style.visibility = 'hidden';
    document.getElementById('signout_button').style.visibility = 'hidden';

    /**
     * Callback after api.js is loaded.
     */
    function gapiLoaded() {
        gapi.load('client', intializeGapiClient);
    }

    /**
     * Callback after the API client is loaded. Loads the
     * discovery doc to initialize the API.
     */
    async function intializeGapiClient() {
        await gapi.client.init({
            apiKey: API_KEY,
            discoveryDocs: [DISCOVERY_DOC],
        });
        gapiInited = true;
        maybeEnableButtons();
    }

    /**
     * Callback after Google Identity Services are loaded.
     */
    function gisLoaded() {
        tokenClient = google.accounts.oauth2.initTokenClient({
            client_id: CLIENT_ID,
            scope: SCOPES,
            callback: '', // defined later
        });
        gisInited = true;
        maybeEnableButtons();
    }

    /**
     * Enables user interaction after all libraries are loaded.
     */
    function maybeEnableButtons() {
        if (gapiInited && gisInited) {
            document.getElementById('authorize_button').style.visibility = 'visible';
        }
    }

    /**
     *  Sign in the user upon button click.
     */
    function handleAuthClick() {
        tokenClient.callback = async (resp) => {
            if (resp.error !== undefined) {
                throw (resp);
            }
            document.getElementById('signout_button').style.visibility = 'visible';
            document.getElementById('authorize_button').innerText = 'Refresh';
            await listUpcomingEvents();
        };

        if (gapi.client.getToken() === null) {
            // Prompt the user to select a Google Account and ask for consent to share their data
            // when establishing a new session.
            tokenClient.requestAccessToken({prompt: 'consent'});
        } else {
            // Skip display of account chooser and consent dialog for an existing session.
            tokenClient.requestAccessToken({prompt: ''});
        }
    }

    /**
     *  Sign out the user upon button click.
     */
    function handleSignoutClick() {
        const token = gapi.client.getToken();
        if (token !== null) {
            google.accounts.oauth2.revoke(token.access_token);
            gapi.client.setToken('');
            document.getElementById('content').innerText = '';
            document.getElementById('authorize_button').innerText = 'Authorize';
            document.getElementById('signout_button').style.visibility = 'hidden';
        }
    }

    /**
     * Print the summary and start datetime/date of the next ten events in
     * the authorized user's calendar. If no events are found an
     * appropriate message is printed.
     */
    async function listUpcomingEvents() {
        let response;
        try {
            const request = {
                'calendarId': 'c3blo90u1m1escub076qk0amjo@group.calendar.google.com',
                'timeMin': (new Date()).toISOString(),
                'showDeleted': false,
                'singleEvents': true,
                'maxResults': 10,
                'orderBy': 'startTime',
            };
            response = await gapi.client.calendar.events.list(request);
        } catch (err) {
            document.getElementById('content').innerText = err.message;
            return;
        }

        const events = response.result.items;
        if (!events || events.length == 0) {
            document.getElementById('content').innerText = 'No events found.';
            return;
        }
        // Flatten to string to display
        const output = events.reduce(
            (str, event) => `${str}${event.summary} (${event.start.dateTime || event.start.date})\n`,
            'Events:\n');
        document.getElementById('content').innerText = output;
    }

window.onload = function() {
        handleAuthClick();
};
</script>
<script async defer src="https://apis.google.com/js/api.js" onload="gapiLoaded()"></script>
<script async defer src="https://accounts.google.com/gsi/client" onload="gisLoaded()"></script>
<!-- API Key: AIzaSyCtgS-FuV-qUTOhwUwKfaD7oLW-PyYR0iU -->
<script src="https://apis.google.com/js/api.js"></script>
<script>
    function setStartTime(){
        let year = document.getElementById('startyear').value
        let month = document.getElementById('startmonth').value
        let day = document.getElementById('startday').value
        let hour = document.getElementById('starthour').value
        let minute = document.getElementById('startminute').value
        let second = "00"
        return String(year.concat(month).concat(day)) + "T" + String(hour.concat(minute).concat(second))
    }
    function setEndTime(){
        let year = document.getElementById('endyear').value
        let month = document.getElementById('endmonth').value
        let day = document.getElementById('endday').value
        let hour = document.getElementById('endhour').value
        let minute = document.getElementById('endminute').value
        let second = "00"
        return String(year.concat(month).concat(day)) + "T" + String(hour.concat(minute).concat(second))
    }
    
    // Refer to the JavaScript quickstart on how to setup the environment:
    // https://developers.google.com/calendar/quickstart/js
    // Change the scope to 'https://www.googleapis.com/auth/calendar' and delete any
    // stored credentials.


    /**
     * Sample JavaScript code for calendar.events.insert
     * See instructions for running APIs Explorer code samples locally:
     * https://developers.google.com/explorer-help/code-samples#javascript
     */

    function authenticate() {
        return gapi.auth2.getAuthInstance()
            .signIn({scope: "https://www.googleapis.com/auth/calendar https://www.googleapis.com/auth/calendar.events"})
            .then(function () {
                    console.log("Sign-in successful");
                },
                function (err) {
                    console.error("Error signing in", err);
                });
    }

    function loadClient() {
        gapi.client.setApiKey("AIzaSyCtgS-FuV-qUTOhwUwKfaD7oLW-PyYR0iU");
        return gapi.client.load("https://content.googleapis.com/discovery/v1/apis/calendar/v3/rest")
            .then(function () {
                    console.log("GAPI client loaded for API");
                },
                function (err) {
                    console.error("Error loading GAPI client for API", err);
                });
    }

    // Make sure the client is loaded and sign-in is complete before calling this method.
    function execute() {
        return gapi.client.calendar.events.insert({
            "calendarId": "c3blo90u1m1escub076qk0amjo@group.calendar.google.com",
            "resource": {
                "summary": String(document.getElementById('eventName').value),
                "end": {
                    "dateTime": setEndTime(),
                    "timeZone": "America/Los_Angeles"
                },
                "start": {
                    "dateTime": setStartTime(),
                    "timeZone": "America/Los_Angeles"
                }
            }
        })
            .then(function (response) {
                    // Handle the results here (response.result has the parsed body).
                    console.log("Response", response);
                },
                function (err) {
                    console.error("Execute error", err);
                });
    }
    function wrigleys() {
         function getEventID() {
            return gapi.client.calendar.events.list({
                "calendarId": "c3blo90u1m1escub076qk0amjo@group.calendar.google.com"
            }).then(function(response) {
                // Handle the results here (response.result has the parsed body).
                let eventID = response.result.items[document.getElementById("deleteWhichEvent").value - 1].id
                return gapi.client.calendar.events.delete({
                    "calendarId": "c3blo90u1m1escub076qk0amjo@group.calendar.google.com",
                    "eventId": eventID
                })
                    .then(function(response) {
                            // Handle the results here (response.result has the parsed body).
                            console.log("Response", response);
                        },
                        function(err) { console.error("Error in deleting", err); });
            }, function(err) {
                console.error("Error in finding the event to delete", err);
            });
        }
    }


    gapi.load("client:auth2", function () {
        gapi.auth2.init({client_id: "893453603783-bpsno84rauqug3u8tsdsq14f85amng83.apps.googleusercontent.com"});
    });
</script>
<button onclick="authenticate().then(loadClient)">authorize and load</button>
<script>
    /*
    =============================================================================
    STRUCTURING THE EVENT QUERY
    ============================================================================

var event = {
        'summary': 'Google I/O 2015',
        'location': '800 Howard St., San Francisco, CA 94103',
        'description': 'A chance to hear more about Google\'s developer products.',
        'start': {
            'dateTime': '2015-05-28T09:00:00-07:00',
            'timeZone': 'America/Los_Angeles'
        },
        'end': {
            'dateTime': '2015-05-28T17:00:00-07:00', /* 'dateTime': '2015-05-28T17:00:00-07:00',*/
    /*
            'timeZone': 'America/Los_Angeles'
        },
        'recurrence': [
            'RRULE:FREQ=DAILY;COUNT=2'
        ],
        /*
        'attendees': [
            {'email': 'lpage@example.com'},
            {'email': 'sbrin@example.com'}
        ],
        */
    /*
       'reminders': {
           'useDefault': false,
           'overrides': [
               {'method': 'email', 'minutes': 24 * 60},
               {'method': 'popup', 'minutes': 10}
           ]
       }
   };

   var request = gapi.client.calendar.events.insert({
       'calendarId': 'primary',
       'resource': event
   });

   request.execute(function(event) {
       appendPre('Event created: ' + event.htmlLink);
   });
*/

</script>
<input id="startyear" style="width: 100px; height: auto" placeholder="year">
<input id="startmonth" style="width: 100px; height: auto" placeholder="month">
<input id="startday" style="width: 100px; height: auto" placeholder="day">
<input id="starthour" style="width: 100px; height: auto" placeholder="hour">
<input id="startminute" style="width: 100px; height: auto" placeholder="minute">
<br>
<input id="endyear" style="width: 100px; height: auto" placeholder="end year">
<input id="endmonth" style="width: 100px; height: auto" placeholder="end month">
<input id="endday" style="width: 100px; height: auto" placeholder="end day">
<input id="endhour" style="width: 100px; height: auto" placeholder="end hour">
<input id="endminute" style="width: 100px; height: auto" placeholder="end minute">
<br>
<button onclick="execute()"> Add Event </button>
<button id="deleteEventButton" style="width: 75px; height: 30px" onclick="if(document.getElementById('deleteWhichEvent').value < 1){console.log('please input an integer 1 or above :)')}else{wrigleys()}"> Delete Event </button>
<input id="deleteWhichEvent" style="width: 150px; height: auto" placeholder="Delete which event?">
<br>
<input id="eventName" hidden style="width: 100px; height: auto" placeholder="name of event">
<input id="eventDesc" hidden style="width: 500px; height: 350px" placeholder="description of event">
<input id="eventLocation" hidden style="width: 500px; height: auto" placeholder="location of event">
{% endblock %}
